
@model CVC.Models.TerminalMappingVM

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="newTerminalModalPopUp">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myLargeModalLabel">New Terminal</h4>
            </div>

            <div class="modal-body">
                <div class="machine-tab-links">
                    <a href="">General</a>
                    <a href="">Status</a>
                </div>
                <form class="edit-machine-form">

                    <div class="edit-machine-title">
                        <h6>General</h6>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="TerminalTypeName"><label style="color:red">*</label>Terminal Name</label>
                                @Html.TextBoxFor(m => Model.AddEditTermial.TerminalName, new { @class = "form-control", @id = "TerminalName" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Description"><label style="color:red">*</label>Mac Address</label>
                                @Html.TextBoxFor(m => Model.AddEditTermial.MacAddress, new { @style = "text-transform: uppercase;", @class = "form-control", @id = "MacAddress" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="IsRead">Serial Number</label>
                                @Html.TextBoxFor(m => Model.AddEditTermial.SerialNumber, new { @class = "form-control", @id = "SerialNumber" })

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="IsWrite">Model Number</label>
                                @Html.TextBoxFor(m => Model.AddEditTermial.ModelNumber, new { @class = "form-control", @id = "ModelNumber" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">

                                <label for="IsWrite"><label style="color:red">*</label>Terminal Type</label>


                                @Html.DropDownListFor(m => m.AddEditTermial.TerminalTypeId, new SelectList(ViewBag.TerminalTypeList, "TerminalTypeId", "TerminalTypeName"), new {@id="TerminalTypeId", @class = "form-control js-example-basic-single-view-field" })



                            </div>
                        </div>


                    </div>
                    <div class="edit-machine-title">
                        <h6>Status</h6>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Status"><label style="color:red">*</label>Status</label>
                                <select id="ddlStatus" class="form-control">
                                    <option value="1">Active</option>
                                    <option value="2">In-Active</option>

                                </select>

                            </div>
                        </div>


                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="SaveTerminal();" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
