@model IEnumerable<CVC.ViewModels.MessageMasterViewModel>
<table id="tblMessage" class="displays table-striped table-bordered dt-responsive nowrap cell-border" width="100%" cellspacing="0">
    <thead>
        <tr>

            <th>ID</th>
            <th>Message</th>
            <th>Status</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>

                <td>@item.Index</td>
                <td>
                    <a href="javascript:void(0);" onclick="GetMessageDetails(@item.MessageMasterId)">@Html.DisplayFor(modelItem => item.MessageText)</a>

                </td>
                <td>@(item.IsActive == true ? "Active" : "In-Active")</td>

            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#tblMessage').DataTable({
            responsive: {
                details: {
                    type: 'column'
                }
            },

            "language": {
                "lengthMenu": "_MENU_ records per page",
            },

        });

        var defaultMessageMasterId = '@ViewBag.DefaultMessageMasterId';
        if (defaultMessageMasterId > 0) {
            GetMessageDetails(defaultMessageMasterId);
        }

    });
</script>
