@model CVC.Machine.MachinePageModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section Head {
    @Html.StyleBundle("Pages/Dashboard")
    @Html.ScriptBundle("Pages/Dashboard")
<script src="~/Scripts/chartjs/Chart.min.js"></script>
}

@section Charts
{
    }

@section RightSideBar
{
    

    <div class="box box-solid">

        <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="@Url.Content("LabelingMachine")">
                        <i class="fa fa-inbox"></i> Machine Dashboard
                        
                    </a>
                </li>
                <li><a href="@Url.Content("SettingsMachine")"><i class="fa fa-cog"></i> Machine Settings</a></li>
                <li><a href="@Url.Content("TechnicalSettingsMachine")"><i class="fa fa-wrench"></i> Technical Settings</a></li>
                <li>
                    <a href="@Url.Content("EquipmentOptionsMachine")"><i class="fa fa-th-list"></i> Equipment Options</a>
                </li>
                <li><a href="@Url.Content("ManualServiceModeMachine")"><i class="fa fa-clone"></i> Manual Service Mode</a></li>
                <li><a href="@Url.Content("LabelRoll")"><i class="fa fa-tags"></i> Label Roll</a></li>
                <li><a href="@Url.Content("Reconciliation")"><i class="fa fa-reorder"></i> Label Reconciliation</a></li>
            </ul>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /. box -->
    
    <!-- /.box -->

}

<!-- Main row -->


@section Scripts
{
    <script src="~/Scripts/circularprogress.jquery.min.js"></script>
    <script src="~/Scripts/number-pb.js"></script>
<script src="~/Scripts/jquery.velocity.min.js"></script>
<script src="~/Scripts/gauge.js"></script>
    <script>
        //$(function(){
        //   alert("All good");
        //});


        
    </script>


}

@section Style
{
    <link rel="stylesheet" type="text/css" href="~/Content/circularprogress.css" />
<link rel="stylesheet" type="text/css" href="~/Content/number-pb.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AnimatedSlimstyle.css" />

    <style>
        .ibox-content {
            clear: both;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            padding: 5px 5px 5px 5px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0;
        }

        .toggle.btn {
            min-width: 100px;
            min-height: 30px;
        }

        .containerdiv {
            border: 1px solid #DDDDDD;
            width: 693px;
            height: 153px;
            position: relative;
        }

        .tag {
            float: left;
            position: absolute;
            left: 70%;
            top: 10%;
            background-color: orange;
        }

        /*.line {
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    border: 1px solid #000;
                }*/

        .stepwizard-step p {
            margin-top: 10px;
        }

        .stepwizard-row {
            display: table-row;
        }

        .stepwizard {
            display: table;
            width: 100%;
            position: relative;
        }

        .stepwizard-step button[disabled] {
            opacity: 1 !important;
            filter: alpha(opacity=100) !important;
        }

        .stepwizard-row:before {
            top: 50px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 100%;
            height: 5px;
            background-color: #ccc;
            z-order: 0;
        }

        .stepwizard-step {
            display: table-cell;
            text-align: center;
            position: relative;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }

        .boxNew > .icon {
            text-align: center;
            position: relative;
        }

            .boxNew > .icon > .image {
                position: relative;
                z-index: 2;
                margin: auto;
                width: 200px;
                height: 30px;
                border: 2px solid #e4e0e0;
                line-height: 30px;
                border-radius: 2%;
                background: #fff;
                vertical-align: middle;
                font-weight: bold;
            }

            .boxNew > .icon:hover > .image {
                background: #fff;
            }

            .boxNew > .icon > .image > i {
                font-size: 36px !important;
                color: #fff !important;
            }

            .boxNew > .icon:hover > .image > i {
                color: white !important;
            }

            .boxNew > .icon > .info {
                margin-top: -24px;
                background: rgba(0, 0, 0, 0.04);
                border: 1px solid #e0e0e0;
                padding: 25px 0px 0px 0px;
            }

            .boxNew > .icon:hover > .info {
                background: rgba(0, 0, 0, 0.04);
                border-color: #e0e0e0;
            }

            .boxNew > .icon > .info > h3.title {
                font-family: "Roboto",sans-serif !important;
                font-size: 16px;
                color: #222;
                font-weight: 500;
            }

            .boxNew > .icon > .info > p {
                font-family: "Roboto",sans-serif !important;
                font-size: 13px;
                color: #666;
                line-height: 1.5em;
                margin: 20px;
            }

            .boxNew > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
                color: #222;
            }

            .boxNew > .icon > .info > .more a {
                font-family: "Roboto",sans-serif !important;
                font-size: 12px;
                color: #222;
                line-height: 12px;
                text-transform: uppercase;
                text-decoration: none;
            }

            .boxNew > .icon:hover > .info > .more > a {
                color: #fff;
                padding: 6px 8px;
                background-color: #63B76C;
            }

        .boxNew .space {
            height: 0px;
        }

        .card {
            border-radius: 2px;
            border-top: 4px solid #8CDDCD;
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
            border-left: none;
            border-right: none;
            border-bottom: none;
            margin-bottom: 30px;
            background-color: #fff;
        }

        .table-card .row-table:first-child {
            border-bottom: 1px solid #ddd;
        }

        .table-card .row-table {
            display: flex;
            align-items: center;
            table-layout: fixed;
            height: 100%;
            width: 100%;
            margin: 0;
        }

            .table-card .row-table > [class*="col-"] {
                display: table-cell;
                float: none;
                table-layout: fixed;
                vertical-align: middle;
            }

            .table-card .row-table .br {
                border-right: 1px solid #ccc;
            }

        .card-block-big {
            padding: 0.5em;
        }
    </style>
}
