@model  IEnumerable<CVC.ViewModels.ViewsViewModel>


<style>
    .error {
        color: red;
    }
</style>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="divViewListModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myLargeModalLabel">Views</h4>
            </div>
            <div class="modal-body">
                <table class="display" id="DataTableViewList" cellspacing="0" width="100%" border="1" cellpadding="0" style="border-collapse:collapse;" bordercolor="#e7eaec">
                    <thead>
                        <tr>

                            <th align="left">
                                <label>View Name</label>
                            </th>
                            <th align="left">
                                <label>Is View</label>
                            </th>

                            <th align="left">
                                <label>Is Modify</label>
                            </th>
                            @*<th align="left">
                                    <label>Status</label>
                                </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ViewName)
                                </td>
                                <td>
                                    <input type="checkbox" id="chkIsView" checked="@item.IsView" value="@item.ViewsId" />
                                </td>

                                <td>
                                    <input type="checkbox" id="chkIsModify" checked="@item.IsModify" value="@item.ViewsId" />
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.StatusName)
                                    </td>*@
                                @*<td>
                                        @Html.DropDownListFor(m => item.StatusId, new SelectList(ViewBag.StatusList, "StatusId", "StatusName", item.StatusId), new { @id = "ddlStatus", @class = "form-control js-example-basic-single clsviewstatus-" + item.ViewsId + "", @ViewsId = @item.ViewsId })
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#DataTableViewList').DataTable({
            responsive: {
                details: {
                    type: 'column'
                }
            },

            "language": {
                "lengthMenu": "_MENU_ records per page",
            },

        });

    });

    $('body').on('click', '#btnSave', function (event) {
        debugger;
        $("#divViewListModal").modal('hide');
        var IsViewArray = [];
        var IsModifyArray = [];

        var checkedIsViewItemcollection = $('#DataTableViewList').DataTable().$("#chkIsView:checked", { "page": "all" });
        checkedIsViewItemcollection.each(function (index, elem) {
            // var StatusId = $(".clsviewstatus-" + $(elem).val()).val();
            //var StatusId = $('#DataTableViewList').DataTable().$(".clsviewstatus-" + $(elem).val(), { "page": "all" }).val();

            //IsViewArray.push($(elem).val());
            IsViewArray.push($(elem).val() + "&1");
        });

        var checkedIsModifyItemcollection = $('#DataTableViewList').DataTable().$("#chkIsModify:checked", { "page": "all" });
        checkedIsModifyItemcollection.each(function (index, elem) {
            // IsModifyArray.push($(elem).val());
            // var StatusId = $(".clsviewstatus-" + $(elem).val()).val();
            //IsViewArray.push($(elem).val());
            // var StatusId = $('#DataTableViewList').DataTable().$(".clsviewstatus-" + $(elem).val(), { "page": "all" }).val();

            IsModifyArray.push($(elem).val() + "&1");
        });

        CreateViewAccess(IsViewArray, IsModifyArray);
    });

    function CreateViewAccess(IsViewArray, IsModifyArray) {
        debugger;
        $.ajax({
            url: "/NAdministration/RoleAccess/CreateViewAccess",
            data: { "RoleId": $("#hidRoleId").val(), "ModuleId": $("#hidModuleId").val(), "IsViewIds": IsViewArray, "IsModifyIds": IsModifyArray },
            type: 'POST',
            success: function (response) {
                window.location.href = "/NAdministration/RoleAccess/ViewAccessList?RoleId=" + $("#hidRoleId").val() + "&ModuleId=" + $("#hidModuleId").val()
            },
            error: function (x, y, z) {
                console.log(x + '\n' + y + '\n' + z);
            }
        });

    }


</script>